<launch>

	<!-- set a global /devname parameter -->
  	<param name="devname" value="/dev/ttyACM0" />
  	<param name="baudrate" value="115200" />

  	<group name="serial_comunicator">
    	<include file="$(find comm_sender)/launch/comm_sender.launch" />
    	<include file="$(find comm_sender)/launch/key_catcher.launch" />
  	</group>
</launch>